<!-- Partials are allowed -->
<div class="home-view">
    <h1>{{ homemessage }}</h1> <!-- two braces means that this is content you add -->
    <p class="u-bio">
        {{ bio }} <!-- use it for dynamic content -->
    </p>
</div>