<!-- Main Index File (Replaces index.html) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/main.css">

    <title>Minecraft: Xbox One Edition</title>

</head>
<body>
	<header>
		<a href="https://www.xbox.com/en-US/"> <img src="../public/images/xbox_logo-icon.png" width="50" alt="">Microsoft</a>
		<div>
			<ul>
				<li><a href="https://products.office.com/en-us/home">Office</a></li>
				<li><a href="https://www.microsoft.com/en-us/windows/">Windows</a></li>
				<li><a href="https://www.microsoft.com/en-us/surface">Surface</a></li>
				<li><a href="https://www.xbox.com/en-us">Xbox</a></li>
				<li><a href="https://www.microsoft.com/en-ca/store/b/sale?icid=gm_nav_l0_salepage">Deals</a></li>
				<li><a href="https://support.microsoft.com/en-ca">Support</a></li>
				<li><a href="#">More</a></li>
			</ul>
		</div>
	</header>

<!-- HERO SECTION -->
    <section class="hero">
        <h2 class="hidden">Hero Section</h2>
        <div class="content">
			<img src="../public/images/console-hero_img.jpg" alt="Console Image">
            <h2 class="title">
				Minecraft Xbox One S 
				<br>
				Limited Edition Console
			</h2>

			<h3 class="subtitle">
				Express your love of building, crafting, and all things Minecraft with the limited edition Minecraft Xbox console! Exclusive button chimes, a unique exterior design, and a themed controller, there is no better way to explore the vast and expansive world of Minecraft. 
			</h3>

			<p>
				1TB
				<br>
				ESRB Rating: Everyone 10+
			</p>
			<div class="external-links">
				<button>Buy Now ></button>
				<button>Explore Other Bundles ></button>
			</div>

		</div>
		
        <div>
            <img src="../public/images/horizon.png" alt="The World of Minecraft is Yours to Explore">
		</div>

	</section>

   <!-- FOOTER -->
   <footer>
        <h1 class="hidden">Footer</h1>

        <!-- copyrights -->
        <div id="copyrightsFooter">
            <h3>© Alec Riddick 2019</h3>
        </div>

        <!-- social media icons footer -->
        <div id="socialMediaFooter">
            <img src="../public/images/twitter_icon.svg" alt="Twitter Logo">
            <img src="../public/images/vimeo_icon.svg" alt="Vimeo Logo">
            <img src="../public/images/instagram_icon.svg" alt="Instagram Logo">
            <img src="../public/images/share_icon.svg" alt="Share Logo">
        </div>
    </footer>
</body>
</html>